<web-app>
	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/namaste</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>hello1</servlet-name>
		<servlet-class>HelloWorld1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello1</servlet-name>
		<url-pattern>/namaste1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>Signup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
</web-app>

